body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #eef3ff, #dbe4ff);
}


.nav{
    display:flex;
    justify-content:flex-end;
    padding:20px 50px;
    flex-wrap:wrap;
}

.nav a{
    font-size:x-large;
    font-weight:bold;
    margin-left:40px;
    text-decoration:none;
    color:purple;
    position: relative;
}

.nav a::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-5px;
    width:0;
    height:3px;
    background:purple;
    transition:0.3s;
}

.nav a:hover::after{
    width:100%;
}

.container{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:80px;
    margin-top:60px;
    padding:20px;
    flex-wrap:wrap;
}

.image{
    max-width:320px;
    width:100%;
    height:auto;  
    border-radius:30px;
    box-shadow:0 20px 40px rgba(0,0,0,0.15);
}


.text-area{
    max-width:420px;
    width:100%;
    background:white;
    padding:40px;
    border-radius:20px;
    box-shadow:0 15px 35px rgba(0,0,0,0.08);
}

.heading{
    color:darkolivegreen;
}

.info{
    font-size:18px;
    margin-bottom:20px;
}


.button {
    display: inline-block;
    padding: 12px 22px;
    margin: 5px;
    background-color: deepskyblue;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-family: sans-serif;
    font-weight: bold;
    transition: 0.3s;
}

.button:hover{
    transform:translateY(-3px);
    box-shadow:0 10px 25px rgba(106,90,205,0.5);
    background-color:dodgerblue;
}




@media (max-width:768px){

   
    
    .nav{
        justify-content:center;
        padding:15px;
    }

    .nav a{
        margin:10px;
        font-size:20px;
    }

    
    
    .container{
        flex-direction:column;
        text-align:center;
        gap:40px;
        margin-top:30px;
    }

    
    
    .image{
        width:85%;
        max-width:280px;
    }

    .text-area{
        padding:25px;
        width:90%;
    }

    .heading{
        font-size:28px;
    }

    .info{
        font-size:16px;
    }

    .button{
        width:100%;
        max-width:220px;
    }
}
